@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row::after, .menu:after {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
    border-bottom: 1px solid white;
}

.logo {
    margin-top: 7px;
}

.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu > li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu > li > a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
    transition: 0.2s all ease-in-out;
}

.menu > li > a:hover {
    background-color: #2c71b8;
    color: white;
}

.form-search {
    border: 1px solid #2c71b8;
    margin-top: 5px;
}

.search-field {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 0;
    width: 151px;
    height: 38px;
}

.form-search input[type=text]::-webkit-input-placeholder {
    font-size: 15px;
    color: #2c71b8;
 }

 .form-search input[type=text]:-moz-placeholder { 
    font-size: 15px;
    color: #2c71b8;
 }

 .form-search input[type=text]::-moz-placeholder { 
    font-size: 15px;
    color: #2c71b8;
 }

 .form-search input:focus {
    outline: none;
}

.form-search button {
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    margin: 4px;
    border: none;
}



.form-search button:active {
    border: 1px solid #cadbed;
}

.cart {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    position: relative;
}

.cart {
    margin-top: 4px;
    background-image: url(images/icon_cart_passive.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.product-count {
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top:-10px;
    left: -10px;
    color:white;
    font-size: 12px;
}

.cart:active {
    border: 2px solid #cadbed;
    background-color: #2c71b8;
    background-image: url(images/cart_button_active.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sub-menu {
    display: none;
    position: absolute;
    left: -1px;
    list-style: none;
}


.sub-menu > li {
    width: 286px;
    height: 40px;
    background-color: #2c71b8;
}

.products-menu-header:hover .sub-menu{
    display: block;
    border-right: 0.1px solid black;
    border-bottom: 0.1px solid black;
}

.sub-menu a {
    text-align: left;
    padding-left: 30px;
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    line-height: 40px;
    display: block;
}

.sub-menu a:hover {
    color: #2c71b8;
    background-color: #ffffff;
}

.dropdown-image {
    width: 10px;
    height: 10px;
    left: 8px;
    position: relative;
}

.slider {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.filter {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 843px;
    border-right: 1px solid white;
}

.breadcrumbs a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.breadcrumbs {
    margin-top: 30px;
    margin-bottom: 15px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.category-name {
    color: white;
    font-weight: 700;
    font-size: 48px;
    width: 55%;
}

.sort-menu {
    position: relative;
    left: 630px;
    top: -45px;
    width: 25%;
    border: 1px solid white;
}

.sort-menu li {
    border: 1px solid white;
    height: 40px;
    background-color: #2c71b8;
}

.sort-menu a {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    text-decoration: none;
    font-size: 21px;
    display: block;
}

.sub-menu-sort {
    display: none;
}

.sort-menu:hover .sub-menu-sort{
    display: block;
}

.sub-menu-sort a:hover {
    color: #2c71b8;
    background-color: #ffffff;
}

.sort-arrow {
    width: 12px;
    height: 9px;
    left: 60px;
    bottom: 2px;
    position: relative;
}

.products-block {
    width: 100%;
    height: 2016px;
}

.products {
    width: 270px;
    height: 652px;
    margin: 15px;
    float: left;
    border: 1px solid white;
}

.products-block::after{
    content: "";
    display: block;
    clear: both;
}

.smart-watch, .phone, .smart-watch-2 {
    margin-right: 0;
}

.portable-pc, .laptop, .tablet {
    margin-left: 0;
}

.portable-pc, .tv, .smart-watch {
    margin-top: 0;
}

.tablet, .tv-2, .smart-watch-2 {
    margin-bottom: 0;
}

.product-image {
    width: 100%;
    height: 27.3%;
    background-color: rgba(255, 255, 255, 0.75);
}

.product-image img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-description {
    padding: 15px;
    background-color: rgba(44, 113, 184, 0.8);
    height: 473px;
    border-top: 1px solid white;
}

.product-description {
    color: white;
}

.device-name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.product-description > h3 {
    font-weight: 700;
    float: left;
    margin-bottom: 20px;
}

.product-description > p {
    margin-bottom: 20px;
}

.products-description::after{
    content: "";
    display: block;
    clear: both;
}

.device-price {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin: 10px;
}

.product-description button {
    width: 210px;
    height: 50px;
    margin: 15px;
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    font-size: 21px;
    text-transform: uppercase;
}

.product-description button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.add-to-cart-button {
    margin-top: 0 !important;
}